In [ ]:
#Task 1- Metastore creation
#Task 2- Catalog creation
#catalog for marketing
CREATE CATALOG Marketing_data;
#catalog for engineering
CREATE CATALOG Engineering_data;
#catalog for operations
CREATE CATALOG Operations_data;

#Task 3
#Schema for marketing
CREATE SCHEMA Marketing_data.ads_data;
CREATE SCHEMA Marketing_data.customer;
#Schema for Engineering
CREATE SCHEMA Engineering_data.projects;
CREATE SCHEMA Engineering_data.develpment;
#Schema for Operations
CREATE SCHEMA Operations_data.logistics;
CREATE SCHEMA Operations_data.supply_chain;

#Task 4 and 5-Prepare Datasets and table creation
#ads_data table creation
CREATE TABLE Marketing_data.ads_data.ads_info (
    ad_id INT PRIMARY KEY,
    impressions INT,
    clicks INT,
    cost_per_click DECIMAL(10, 2)
);

#Inserting values
INSERT INTO Marketing_data.ads_data.ads_info (ad_id, impressions, clicks, cost_per_click) VALUES
(1, 10000, 150, 0.50),
(2, 20000, 300, 0.75),
(3, 15000, 200, 0.60),
(4, 25000, 400, 0.55),
(5, 18000, 250, 0.70);

#customer table creation
CREATE TABLE Marketing_data.customer.customer_data(
    customer_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100),
    signup_date DATE
);
#Inserting values
INSERT INTO Marketing_data.customer.customer_data(customer_id, first_name, last_name, email, signup_date) VALUES
(1, 'Alice', 'Smith', 'alice.smith@example.com', '2023-01-10'),
(2, 'Bob', 'Johnson', 'bob.johnson@example.com', '2023-02-15'),
(3, 'Charlie', 'Brown', 'charlie.brown@example.com', '2023-03-20'),
(4, 'Diana', 'White', 'diana.white@example.com', '2023-04-05'),
(5, 'Evan', 'Green', 'evan.green@example.com', '2023-05-30');

#Projects table creation
CREATE TABLE Engineering.projects.project_data(
    project_id INT PRIMARY KEY,
    project_name VARCHAR(255),
    start_date DATE,
    end_date DATE
);

#Inserting values
INSERT INTO Engineering.projects.project_data (project_id, project_name, start_date, end_date) VALUES
(101, 'Website Redesign', '2023-01-15', '2023-04-15'),
(102, 'Mobile App Development', '2023-02-01', '2023-05-30'),
(103, 'API Integration', '2023-03-10', '2023-06-10'),
(104, 'Data Migration', '2023-04-01', '2023-07-01'),
(105, 'Cloud Infrastructure Setup', '2023-05-20', '2023-08-20');

#Development table creation
CREATE TABLE Engineering_data.development.development_data (
    project_id INT PRIMARY KEY,
    project_name VARCHAR(255),
    start_date DATE,
    end_date DATE,
    status VARCHAR(50)
);

#Inserting values
INSERT INTO Engineering_data.development.development_data (project_id, project_name, start_date, end_date, status) VALUES
(201, 'Website Upgrade', '2023-01-15', '2023-03-15', 'Completed'),
(202, 'Mobile App Launch', '2023-02-01', '2023-05-30', 'In Progress'),
(203, 'API Development', '2023-03-10', '2023-06-10', 'Not Started'),
(204, 'Database Migration', '2023-04-01', '2023-07-01', 'In Progress'),
(205, 'Cloud Infrastructure', '2023-05-20', '2023-08-20', 'Completed');

#Logistics table creation
CREATE TABLE operations.logistics.logistic_data (
    shipment_id INT PRIMARY KEY,
    origin VARCHAR(255),
    destination VARCHAR(255),
    status VARCHAR(50)
);

#Inserting values
INSERT INTO Operations.logistics.logistic_data (shipment_id, origin, destination, status) VALUES
(201, 'New York', 'Los Angeles', 'Delivered'),
(202, 'Chicago', 'Houston', 'In Transit'),
(203, 'Miami', 'San Francisco', 'Delivered'),
(204, 'Atlanta', 'Seattle', 'Pending'),
(205, 'Dallas', 'Denver', 'Delivered');

#Supplu chain table creation
CREATE TABLE Operations_data.supply_chain.suppliers (
    supplier_id INT PRIMARY KEY,
    supplier_name VARCHAR(255),
    contact_info VARCHAR(255),
    location VARCHAR(255)
);

#Inserting values
INSERT INTO Operations_data.supply_chain.suppliers (supplier_id, supplier_name, contact_info, location) VALUES
(1, 'ABC Supplies', 'abc@example.com', 'New York, NY'),
(2, 'XYZ Distributors', 'xyz@example.com', 'Los Angeles, CA'),
(3, 'Supply Co.', 'supplyco@example.com', 'Chicago, IL'),
(4, 'Global Imports', 'globalimports@example.com', 'Miami, FL'),
(5, 'Local Goods', 'localgoods@example.com', 'Seattle, WA');

#Task-6- Create Roles and Grant Access
#Create roles for each department
CREATE ROLE marketing_role;
CREATE ROLE engineering_role;
CREATE ROLE operations_role;

#Task-7 -Configure Fine-Grained Access Control
#Grant access to the marketing schema
GRANT SELECT ON TABLE Marketing.customer.customer_data .* TO marketing_role;

#Grant access to the engineering schema
GRANT SELECT ON TABLE Engineering.projects.project_data .* TO engineering_role;
GRANT SELECT ON TABLE Engineering.development.development_data * TO engineering_role;

#Grant access to the operations schema
GRANT SELECT ON TABLE Operations.logistics.logistic_data * TO operations_role;
GRANT SELECT ON TABLE Operations.supply_chain.suppliers * TO operations_role;

#Task-10-Explore Metadata in Unity Catalog
DESCRIBE HISTORY Marketing.ads_data.ads_info;
DESCRIBE HISTORY Engineering.projects.project_data;
DESCRIBE HISTORY Operations.logistics.logistic_data;